# API
BASE_API_URL=https://harvest.randytech.top
API_TIMEOUT=10000

# database
DB_NAME=mobile.db

# auth configs
AUTH_TOKEN_EXPIRY_DAYS=7
AUTH_TOKEN_PREFIX=JWT

# feature
FEATURE_DELETE_FARM=true
FEATURE_SYNC_DATA=true

# app configs
APP_NAME=Harvest Guard
APP_VERSION=1.0.0

# default user ID
DEFAULT_USER_ID=1